

/* Declaração de variável com Stylus */
light = #000

.btn-2
	color light

/* Criando uma função com Stylus */
box(w-size, h-size)
	width w-size
	height h-size

.container
	box(300px, 100px)
	

/* Importando Módulos Separados com Stylus (será utilizado juntamente com Atomic Design) */
@import "module.styl"
		
